* {
  padding: 0;
  margin: 0;
}

table {
  padding: 0;
  margin: 0;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  position: static;
}

img {
  position: relative;
  top: -637px;
}

td {
  height: 49px;
}

tr {
  height: 49px;
}

tr:nth-child(odd) {
  background-color: red;
}